* {margin:0;padding:0;box-sizing:border-box;}
#main {display: none;}
ul {list-style-type:none;}
body, input, textarea {
	font-family: 'Inter';
}
.clickable {
	cursor: pointer;
}

.mx-content {
	width: max-content;
}